<a href="/">Services</a>&nbsp;
{{!-- <a href="/provider">Switch to Service Provider</a>&nbsp; --}}
<a href="/register">Register</a>&nbsp;
<a href="/login">Login</a>&nbsp;
<a href="/logout">Logout</a>&nbsp;

<h1>Home Page</h1>