<a href="/">Services</a>&nbsp;
<a href="/provider">Dashboard</a>&nbsp;
<a href="/provider/register">Register</a>&nbsp;
<a href="/provider/login">Login</a>&nbsp;
<a href="/provider/logout">Logout</a>&nbsp;